In [ ]:
############################################## PYTHON BASICS #######################################################

In [1]:
#################### Expression = Values + Operator and will return single value after some operations are performed

In [2]:
2+2

4

In [3]:
'Hello'*3

'HelloHelloHello'

In [4]:
'Hello'+'World'*3

'HelloWorldWorldWorld'

In [1]:
#################### Variable = container that stores some value in it

In [2]:
"""
Rules for python variable:
a) A varibale name must start with character or underscore.
b) A variable name cannot start with a letter.
c) A variable can only contain alphanumeric character or underscore
d) A viarible is case sensitive. a and A are different.
"""

'\nRules for python variable:\na) A varibale name must start with character or underscore.\nb) A variable name cannot start with a letter.\nc) A variable can only contain alphanumeric character or underscore\nd) A viarible is case sensitive. a and A are different.\n'

In [7]:
Name_1="sony"
name_1="Shrestha"
2_name="Rita" # This is invalid
print(Name_1)
print(name_1)

SyntaxError: invalid decimal literal (<ipython-input-7-6245fa942a44>, line 3)

In [6]:
a=10
a

In [8]:
b=3.14
b

3.14

In [8]:
c="Hello World"
c

'Hello World'

In [9]:
################ Multiwords Variable Name
"""
Variable name with one more than one word is difficult to read.
There are several techniques to make them more readable.
a) Camel Case: Each word, except the first, starts with a capital letter: myVariableName="Sony"
b) Pascal Case: Each word starts with a capital letter: MyVariableName="Sony"
c) Snake Case: Each word is separated by an underscore character: my_variable_name="Sony"
"""

'\nVariable name with one more than one word is difficult to read.\nThere are several techniques to make them more readable.\na) Camel Case: Each word, except the first, starts with a capital letter: myVariableName="Sony"\nb) Pascal Case: Each word starts with a capital letter: MyVariableName="Sony"\nc) Snake Case: Each word is separated by an underscore character: my_variable_name="Sony"\n'

In [12]:
################### Assigning Multiple Values ############
# Many values to multiple variables
a,b,c="Sony","Pragya","Prasanna"
print(a)
print(b)
print(c)

Sony
Pragya
Prasanna

In [15]:
# One value to multiple variables
a=b=c="Sony"
print(a)
print(b)
print(c)

Sony
Sony
Sony

In [23]:
# Unpack a collection
# If you have a collection of values in a list, tuple etc. Python allows you extract the values into variables. This is called unpacking
fruits=["apple","orange","banana"]
a,b,c=fruits
print(a)
print(b)
print(c)
print("------------------------")
fruits=["apple","orange","banana","strwaberry"]
a,*b,c=fruits
print(a)
print(b)
print(c)

apple
orange
banana
------------------------
apple
['orange', 'banana']
strwaberry

In [25]:
################## Global variable inside function
# To change the value of a global variable inside a function, refer to the variable by using the global keyword:
a=10
def global_func():
    global a
    a=1000
global_func()
print(a)

1000

In [12]:
#################### Input from user

In [13]:
name=input()

sony

In [14]:
name

'sony'

In [15]:
type(name)

str

In [16]:
#################### Input integer vaue from user

In [17]:
a=input()

10

In [18]:
type(a)

str

In [19]:
b=int(input())

101

In [20]:
type(b)

int

In [21]:
#################### Type casting in python -> int, float, str

In [22]:
int(10.11)

10

In [23]:
float(10)

10.0

In [24]:
str(10)

'10'

In [27]:
#################### length of string: Takes string as input and returns integer equal to length of string
len('sony')

4

In [3]:
#################### print: arument end and sep
print('hello')
print('hi')

hello
hi

In [5]:
print('hello',end="\t")
print('hi')

hello	hi

In [7]:
print('hello','hi','namaste')

hello hi

In [8]:
print('hello','hi','namaste',sep=" and ")

hello and hi and namaste

In [36]:
################### Operators
'''
Arithmetic Operator:= +,-,*,/,//,%
Comparison Operator: =,<,<=,>,>=,!=
Logical Operator: and, or, not
'''

'\nArithmetic Operator:= +,-,*,/,//,%\nComparison Operator: =,<,<=,>,>=,!=\nLogical Operator: and, or, not\n'

In [37]:
2+2    # Addition

4

In [38]:
2-1    # Subtraction

1

In [39]:
3*4    # Multiplication

12

In [40]:
4/3    # Division

1.3333333333333333

In [41]:
4//3    # Integer Division

1

In [43]:
14%3    # Mod

2

In [44]:
2>3

False

In [45]:
3<2

False

In [46]:
3!=3

False

In [48]:
not True

False

In [53]:
name=input("Enter your name: ")
if name:
    print("Hello "+name)
else:
    print("You did not enter your name.")

Enter your name:
You did not enter your name.

In [54]:
################### Truthy Value and Falsey value
"""
Values 0,0.0 and empty string are considered as falsey value.
When used in conditions they are considered False.
bool() function can be used to check falsey and truthy value.
"""

'\nValues 0,0.0 and empty string are considered as falsey value.\nWhen used in conditions they are considered False.\nbool() function can be used to check falsey and truthy value.\n'

In [55]:
bool(1)

True

In [56]:
bool(0)

False

In [57]:
bool(1.90)

True

In [58]:
bool(0.00)

False

In [59]:
bool('sony')

True

In [60]:
bool('')

False

In [61]:
bool()

False